@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    my-rotate-y-180 {
      transform: "rotateY(180deg)"
    }
    preserve-3d {
      transformStyle: "preserve-3d"
    }
    perspective {
      perspective: "1000px"
    }
    backface-hidden {
      backfaceVisibility: "hidden"
    }
}
